body{
  margin: 0px;
  background-size: cover;
    background: url(../img/bg-body.jpg);
}
.header{
  margin-top: 30;
      h1{
        color:white ;
        font-family: 'Lobster',sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 50;
        text-align: center;
        padding-bottom: 0px;
        margin-bottom: 0px;
      }
      h3{
        color:CCFFFF ;
        font-family: 'Terminal Dosis',sans-serif;
        font-size: 14px;
        padding-top: 0px;
        margin-top: 0px;
        text-align: center;
      }
}
#container{
      height: auto;
      margin: auto;
      background-color: white;
    width:1000px;
    position:relative;
    clear:none;
    margin-top: 0px;
    overflow: hidden;
      img{
      position: relative;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      float:left;
      overflow: hidden;
      }

}
#wrap {
width:1000px; 
margin-left: 140px; 
overflow: hidden; 
position: relative;
background: white;
}
#carousel_ul
{
position:relative;
left:-210px; 
list-style-type: none; 
margin-left: -115px;
padding: 0px;
width:9000px; 
padding-bottom:10px;

li
{
float: left;
padding:0px;
height:auto;
margin-bottom:10px; 
margin-left:5px; 
margin-right:5px;
position:relative;
   clear:none;
   text-align: center;
   overflow:hidden;

span
 {
   display:block;
   z-index:2;
   font-size: 15px;
   top:45%;
   text-align: left;
   font-weight:bold;
 margin-left:30px; 
   font-family:'Terminal Dosis', sans-serif;
   color: white;
 position:absolute;

 }
h2
{
color: white;
margin-top: 70px;
       &:hover
 {
  font-size:25px;
  margin-top: 50px;
  transition: .50s;
  height: 170px;
 }
}
.desc {
 display:block;
 position:absolute;
 width:100%;
 top:50%;
 height:150px;
 margin-bottom: 100px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
 color: white;
 background:rgba(0,0,0,.5);
 left:0;
 z-index:2;
 text-align:center;

 }

 .open
 {
     display:block;
   z-index:2;
   font-size: 15px;
   top:90%;
   margin-left: 70%;
   background: #B1CCC5;
   width: 100px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
position:absolute;
padding-top:5px;
text-decoration: none;
color: black;
&:hover
{
margin-left: 60%;
width: 135px;
transition: .50s;
}
 img
 {
  float:right;
  margin-right: 25px;
  width: 20px;
  margin-top: 5px;
  height: 10px;
 }
 }
 .text
 {
     display:block;
   z-index:2;
   font-size: 15px;
   top:42%;
   height: 55px;
   margin-left: 5%;
   background: #B1CCC5;
   width: 10px;
   float: left;
 position:absolute;
}
img
{
margin-bottom:-4px; 
cursor:pointer;
cursor: hand; 
border:0px; 
position:relative;
z-index:1;
}
}
}
.arrow_left
{
float: left;
margin-top: 220px;
margin-left: 120px;
position: absolute;
}
.arrow_right
{
float: right;
margin-top: 220px;
margin-left: 1120px;
position: absolute;
}
#footer1 {
float:left;
margin-left: 150px;
}
#footer2 {
float:right;
margin-right: 150px;
}
.footer{
width:460px;
border-radius: 10px;
background:rgba(0,0,0,.5);
margin-top: 20px;
height:50px;
  p{
  color: white;
  margin-top: 20px;
    font-family: helvetica;
    font-size: 15px;
    margin-left: 10px;
}
}