body{
background-size: cover;
background: url(../resources_02/bg-body.jpg);
}
h1
{
font-size: 40px;
color:white;
font-family: 'Lobster', sans-serif;
text-align: center;
span
{
font-size: 13px;
color: #B1CCC5;
font-family: 'Terminal Dosis', sans-serif;
}
}
#carousel_inner
{ 
width:1000px; 
margin-left: 140px; 
overflow: hidden; 
position: relative;
background: white;
}

#carousel_ul
{
position:relative;
left:-210px; 
list-style-type: none; 
margin-left: -115px;
padding: 0px;
width:9000px; 
padding-bottom:10px;

li
{
float: left;
padding:0px;
height:auto;
margin-bottom:10px; 
margin-left:5px; 
margin-right:5px;
position:relative;
   clear:none;
   text-align: center;
   overflow:hidden;

span
 {
   display:block;
   z-index:2;
   font-size: 15px;
   top:45%;
   text-align: left;
   font-weight:bold;
 margin-left:30px; 
   font-family:'Terminal Dosis', sans-serif;
   color: white;
 position:absolute;


 }
h2
{
color: white;
margin-top: 70px;
       &:hover
 {
  font-size:25px;
  margin-top: 50px;
  transition: .50s;
  height: 170px;
 }


}
.desc {
 display:block;
 position:absolute;
 width:100%;
 top:50%;
 height:150px;
 margin-bottom: 100px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
 color: white;
 background:rgba(0,0,0,.5);
 left:0;
 z-index:2;
 text-align:center;



 }

 .open
 {
     display:block;
   z-index:2;
   font-size: 15px;
   top:90%;
   margin-left: 70%;
   background: #B1CCC5;
   width: 100px;
   font-family: 'Yanone Kaffeesatz', sans-serif;
position:absolute;
padding-top:5px;
text-decoration: none;
color: black;
&:hover
{
margin-left: 60%;
width: 135px;
transition: .50s;
}

 img
 {
  float:right;
  margin-right: 25px;
  width: 20px;
  margin-top: 5px;

  height: 10px;

 }
 }

 .line
 {
     display:block;
   z-index:2;
   font-size: 15px;
   top:42%;
   height: 55px;
   margin-left: 5%;
   background: #B1CCC5;
   width: 10px;
   float: left;
 position:absolute;
  

}

img
{
margin-bottom:-4px; 
cursor:pointer;
cursor: hand; 
border:0px; 
position:relative;
     z-index:1;

}
}


}

#left_scroll{
cursor: pointer;
cursor: hand;
float:left;  
margin-top: -260px;
margin-left:  110px;
position: inherit;
z-index: -999;
}
#right_scroll{
cursor: pointer;
cursor: hand;
float:right;  
margin-top: -260px;
margin-right: 100px;
position: inherit;
z-index: -999;
}

#footer1 {
float:left;
margin-left: 150px;
}
#footer2 {
float:right;
margin-right: 150px;
}
.footer{
width:460px;
border-radius: 10px;
background:rgba(0,0,0,.5);
margin-top: 20px;
height:50px;
  p{
  color: white;
  margin-top: 20px;
    font-family: helvetica;
    font-size: 15px;
    margin-left: 10px;
  }
}