/* line 1, ../sass/style1.scss */
body {
  margin: 0px;
  background-size: cover;
  background: url(../img/bg-body.jpg);
}

/* line 6, ../sass/style1.scss */
.header {
  margin-top: 30;
}
/* line 8, ../sass/style1.scss */
.header h1 {
  color: white;
  font-family: 'Lobster',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 18, ../sass/style1.scss */
.header h3 {
  color: CCFFFF;
  font-family: 'Terminal Dosis',sans-serif;
  font-size: 14px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

/* line 27, ../sass/style1.scss */
.main {
  margin: auto;
  background-color: white;
  width: 1020;
  position: relative;
  overflow: hidden;
  height: 469;
}

/* line 35, ../sass/style1.scss */
.wrap {
  position: relative;
  float: left;
  clear: none;
  text-align: left;
  overflow: hidden;
}
/* line 41, ../sass/style1.scss */
.wrap img {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

/* line 47, ../sass/style1.scss */
#slider {
  position: relative;
  left: -330px;
  list-style-type: none;
  padding: 0px;
  width: 9000px;
  padding-bottom: 10px;
}
/* line 54, ../sass/style1.scss */
#slider li {
  float: left;
  padding: 0px;
  height: auto;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 5px;
  position: relative;
  clear: none;
  text-align: center;
  overflow: hidden;
}
/* line 65, ../sass/style1.scss */
#slider li span {
  display: block;
  z-index: 2;
  font-size: 15px;
  top: 65px;
  text-align: left;
  font-weight: bold;
  margin-left: 30px;
  font-family: 'Terminal Dosis', sans-serif;
  color: white;
  position: absolute;
}
/* line 77, ../sass/style1.scss */
#slider li h2 {
  margin-top: 70px;
  font-size: 20px;
}
/* line 80, ../sass/style1.scss */
#slider li h2:hover {
  margin-top: 50px;
  transition: .50s;
  height: 190px;
}
/* line 86, ../sass/style1.scss */
#slider li h2:hover .open {
  transition: .50s;
  margin-left: 74%;
}
/* line 92, ../sass/style1.scss */
#slider li .open {
  display: block;
  z-index: 2;
  font-size: 13px;
  top: 135px;
  margin-left: 77%;
  background: #c8ffff;
  width: 85px;
  font-family: 'Terminal Dosis', sans-serif;
  position: absolute;
  padding-top: 5px;
  color: black;
  height: 20px;
}
/* line 105, ../sass/style1.scss */
#slider li .open img {
  float: right;
  margin-right: 25px;
  width: 20px;
  margin-top: 4px;
  height: 10px;
}
/* line 113, ../sass/style1.scss */
#slider li .desc {
  display: block;
  position: absolute;
  width: 100%;
  top: 45%;
  height: 180px;
  margin-bottom: 100px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  left: 0;
  z-index: 2;
  text-align: center;
}
/* line 127, ../sass/style1.scss */
#slider li .text {
  display: block;
  z-index: 2;
  font-size: 15px;
  top: 65px;
  height: 55px;
  margin-left: 5%;
  background: #B1CCC5;
  width: 10px;
  float: left;
  position: absolute;
}

/* line 141, ../sass/style1.scss */
#left_arrow {
  float: left;
  margin-top: 220px;
  margin-left: 105px;
  position: absolute;
}

/* line 147, ../sass/style1.scss */
#right_arrow {
  float: right;
  margin-top: 220px;
  margin-left: 1125px;
  position: absolute;
}

/* line 153, ../sass/style1.scss */
#footer1 {
  float: left;
  margin-left: 150px;
}

/* line 157, ../sass/style1.scss */
#footer2 {
  float: right;
  margin-right: 150px;
}

/* line 161, ../sass/style1.scss */
.footer {
  width: 460px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  height: 50px;
}
/* line 167, ../sass/style1.scss */
.footer p {
  color: white;
  margin-top: 20px;
  font-family: helvetica;
  font-size: 15px;
  margin-left: 10px;
}

/* line 175, ../sass/style1.scss */
.slidingDiv {
  height: 440px;
  background-color: blueviolet;
  width: 650px;
  position: relative;
  margin-left: 10px;
  float: left;
  display: inline-block;
  margin-right: 10px;
}

/* line 185, ../sass/style1.scss */
.show_hide {
  display: none;
  position: relative;
  clear: none;
  overflow: hidden;
}

/* line 191, ../sass/style1.scss */
.main {
  margin: auto;
  background-color: white;
  width: 1020;
  position: relative;
  overflow: hidden;
  height: 469;
}

/* line 199, ../sass/style1.scss */
button {
  float: right;
}
