/* line 1, ../sass/trial.scss */
body {
  background-size: cover;
  background: url(../img/bg-body.jpg);
}

/* line 5, ../sass/trial.scss */
.header {
  margin-top: 30;
}
/* line 7, ../sass/trial.scss */
.header h1 {
  color: white;
  font-family: 'Lobster',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
/* line 17, ../sass/trial.scss */
.header h3 {
  color: #B1CCC5;
  font-family: 'Terminal Dosis',sans-serif;
  font-size: 14px;
  padding-top: 0px;
  margin-top: 0px;
  text-align: center;
}

/* line 26, ../sass/trial.scss */
.main {
  background: white;
  clear: both;
  overflow: hidden;
  text-align: center;
  padding: 5px;
  width: 990px;
  margin-left: 10%;
  position: absolute;
}

/* line 36, ../sass/trial.scss */
#leftarrow {
  cursor: pointer;
  cursor: hand;
  float: left;
  margin-left: 7.5%;
  margin-top: 14%;
  position: absolute;
  z-index: -2;
}

/* line 45, ../sass/trial.scss */
#rightarrow {
  cursor: pointer;
  cursor: hand;
  float: right;
  margin-left: 84%;
  margin-top: 14%;
  position: absolute;
  z-index: -2;
}

/* line 54, ../sass/trial.scss */
.slider {
  position: relative;
  left: -210px;
  list-style-type: none;
  margin-left: -120px;
  padding: 0px;
  width: 9000px;
  padding-bottom: 10px;
}
/* line 62, ../sass/trial.scss */
.slider .secondary {
  float: left;
  width: 650px;
  background-color: #B1CCC5;
  height: 400px;
  display: block;
  z-index: 2;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
}
/* line 73, ../sass/trial.scss */
.slider .secondary button {
  float: right;
}
/* line 77, ../sass/trial.scss */
.slider .primary {
  float: left;
  padding: 0px;
  margin: 5px;
  position: relative;
  clear: none;
  height: 400px;
  width: 320px;
  text-align: center;
  overflow: hidden;
}
/* line 87, ../sass/trial.scss */
.slider .primary .black {
  padding-top: 5px;
  font-size: 17px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  margin-top: 70%;
  height: 44.4%;
}
/* line 95, ../sass/trial.scss */
.slider .primary .black:hover {
  margin-top: 65%;
  transition: .5s;
  height: 48.4%;
}
/* line 99, ../sass/trial.scss */
.slider .primary .black:hover .open {
  margin-left: 73%;
  transition: .50s;
}
/* line 103, ../sass/trial.scss */
.slider .primary .black:hover .text {
  top: 68%;
  transition: .50s;
}
/* line 109, ../sass/trial.scss */
.slider .primary span {
  font-size: 13px;
  color: white;
  position: relative;
  margin-bottom: 100%;
  font-family: 'Terminal Dosis', sans-serif;
}
/* line 116, ../sass/trial.scss */
.slider .primary .open {
  display: block;
  z-index: 2;
  font-size: 15px;
  top: 90%;
  margin-left: 75%;
  background: #B1CCC5;
  width: 100px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  position: absolute;
  padding-top: 5px;
  text-decoration: none;
  color: black;
}
/* line 129, ../sass/trial.scss */
.slider .primary .open img {
  float: right;
  margin-right: 25px;
  width: 20px;
  margin-top: 2.5px;
  height: 10px;
}
/* line 137, ../sass/trial.scss */
.slider .primary .text {
  display: block;
  z-index: 2;
  font-size: 15px;
  top: 73%;
  height: 55px;
  margin-left: 5%;
  background: #B1CCC5;
  width: 10px;
  float: left;
  position: absolute;
}

/* line 151, ../sass/trial.scss */
#img1 {
  background: url(../img/item5.jpg);
}

/* line 154, ../sass/trial.scss */
#img2 {
  background: url(../img/item1.jpg);
}

/* line 157, ../sass/trial.scss */
#img3 {
  background: url(../img/item2.jpg);
}

/* line 160, ../sass/trial.scss */
#img4 {
  background: url(../img/item3.jpg);
}

/* line 163, ../sass/trial.scss */
#img5 {
  background: url(../img/item4.jpg);
}

/* line 166, ../sass/trial.scss */
#footer1 {
  float: left;
  margin-left: 140px;
}

/* line 170, ../sass/trial.scss */
#footer2 {
  float: right;
  margin-right: 140px;
}

/* line 174, ../sass/trial.scss */
.footer {
  width: 480px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: 36%;
  height: 70px;
}
/* line 181, ../sass/trial.scss */
.footer h2 {
  color: white;
  margin-top: 30px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
}

/* line 188, ../sass/trial.scss */
.slider:after {
  display: block;
  width: auto;
  height: auto;
}

/* line 194, ../sass/trial.scss */
.active {
  height: 100%;
  margin-left: 330px;
  width: 50%;
  margin-right: -330px;
  display: block;
}

/* line 202, ../sass/trial.scss */
.hide {
  display: none;
}

/* line 205, ../sass/trial.scss */
.appear {
  display: block;
  position: relative;
}
